@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton-eco {
  @include m.boton(v.$azul, v.$blanco);
}

.estatus {
  display: flex;
  justify-content: center;
  &.vigente{
    background-color: #199c19;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: #dfe9df;

  }
  &.por-vencer {
    background-color: #e7a516;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: #dfe9df;
  }
  &.vencido {
    background-color: #b31010;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: #dfe9df;
  }
}

.sombreado {
  -webkit-box-shadow: 8px 12px 32px -2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 8px 12px 32px -2px rgba(0, 0, 0, 0.35);
  box-shadow: 8px 12px 32px -2px rgba(0, 0, 0, 0.35);
}

.tabla {
  font-size: 1.5rem;
}