


.ag-format-container {
    width: 100%;
    margin-top: 0;
  }
  
  
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  
  .ag-courses_item {
    -ms-flex-preferred-size: calc(25% - 30px); /* Cambio a 25% para 4 columnas */
    flex-basis: calc(25% - 30px); /* Cambio a 25% para 4 columnas */
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    -webkit-box-shadow: 23px 28px 21px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: 23px 28px 21px -7px rgba(0,0,0,0.51);
    box-shadow: 23px 28px 21px -7px rgba(0,0,0,0.51);
  }
  
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #313150;
    overflow: hidden;
    position: relative;
  }
  
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  
  .ag-courses-item_title {
    min-height: 0rem;
    margin-bottom: 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_description {
    display: block;
    list-style: none;
    padding: 0;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #a01010;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 2rem;
      line-height: 1;
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
.search-container {
    text-align: center;
    margin-bottom: 0;
}

#searchInput {
    width: 80%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

/* Estilo general para el paginador */
.pagination {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    justify-content: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

/* Estilo para los enlaces de paginación */
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px; /* Opcional: redondea los bordes de los enlaces */
    font-size: 14px; /* Ajusta el tamaño del texto para mejor legibilidad */
}

/* Estilo para el enlace de paginación activo */
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

/* Estilo para los enlaces de paginación cuando se pasa el ratón sobre ellos */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Ajuste para pantallas más pequeñas */
@media (max-width: 600px) {
    .pagination a {
        padding: 6px 12px; /* Reduce el padding para pantallas más pequeñas */
        font-size: 12px; /* Ajusta el tamaño del texto */
    }
}